<a href="https://colab.research.google.com/github/praveen555/IMI-BIGDATA--CHALLENGE/blob/main/Task_1_v2_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install fuzzywuzzy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: fuzzywuzzy in /usr/local/lib/python3.8/dist-packages (0.18.0)

In [ ]:
pip install python-levenshtein

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: python-levenshtein in /usr/local/lib/python3.8/dist-packages (0.20.9)
Requirement already satisfied: Levenshtein==0.20.9 in /usr/local/lib/python3.8/dist-packages (from python-levenshtein) (0.20.9)
Requirement already satisfied: rapidfuzz<3.0.0,>=2.3.0 in /usr/local/lib/python3.8/dist-packages (from Levenshtein==0.20.9->python-levenshtein) (2.13.7)

In [ ]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [ ]:
pip install googletrans==3.1.0a0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: googletrans==3.1.0a0 in /usr/local/lib/python3.8/dist-packages (3.1.0a0)
Requirement already satisfied: httpx==0.13.3 in /usr/local/lib/python3.8/dist-packages (from googletrans==3.1.0a0) (0.13.3)
Requirement already satisfied: chardet==3.* in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (3.0.4)
Requirement already satisfied: hstspreload in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2023.1.1)
Requirement already satisfied: httpcore==0.9.* in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (0.9.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2022.12.7)
Requirement already satisfied: rfc3986<2,>=1.3 in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (1.5.0)
Requirement already satisfied: idna==2.* in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2.10)
Requirement already satisfied: sniffio in /usr/local/lib/python3.8/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (1.3.0)
Requirement already satisfied: h11<0.10,>=0.8 in /usr/local/lib/python3.8/dist-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (0.9.0)
Requirement already satisfied: h2==3.* in /usr/local/lib/python3.8/dist-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (3.2.0)
Requirement already satisfied: hpack<4,>=3.0 in /usr/local/lib/python3.8/dist-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (3.0.0)
Requirement already satisfied: hyperframe<6,>=5.2.0 in /usr/local/lib/python3.8/dist-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (5.2.0)

In [ ]:
from googletrans import Translator
translator = Translator(service_urls=['translate.googleapis.com'])
result=translator.translate("Rachel A. White",dest='en')

In [ ]:
result.text

'Rachel A. White'

In [ ]:
import pandas as pd
import re

In [ ]:
sanction_names=pd.read_csv('open_data_sanction_list.csv')

In [ ]:
sanction_names.head()

,id,schema,name,aliases,birth_date,countries,addresses,identifiers,sanctions,phones,emails,dataset,first_seen,last_seen
0,acf-00040861bc3f593000830d987d09967ef3503ef1,Person,Kolyvanov Egor,Колыванов Егор,1980-11-15,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-05-05 15:26,2022-12-23 18:13
1,acf-0011c68a768924609dc5da5707ac7fa4c4d645a2,Person,Shipov Sergei Yurievich,Шипов Сергей Юрьевич,1966-04-17,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-07-09 18:14,2022-12-23 18:13
2,acf-001e7e4c0363f08f1e784c230457960b84a6416f,Person,Egorov Ivan Mikhailovich,Егоров Иван Михайлович,1961-01-21,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-05-05 15:26,2022-12-23 18:13
3,acf-002c208139012c8d93b6298358188d7cadafe648,Person,Goreslavsky Alexey Sergeyevich,Гореславский Алексей Сергеевич,1977-07-13,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-09-20 1:05,2022-12-23 18:13
4,acf-002cc8fdf8fe41185091a7cb6c598663e7a22eb5,Person,Samoilova Natalya Vladimirovna,Самойлова Наталья Владимировна,1987-06-24,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-09-20 1:05,2022-12-23 18:13

In [ ]:
sanction_names.shape

(253131, 14)

Basic cleaning
1. need only persons
2. need only name, aliases and dob

In [ ]:
df=sanction_names.query("schema== 'Person' ")

In [ ]:
df

,id,schema,name,aliases,birth_date,countries,addresses,identifiers,sanctions,phones,emails,dataset,first_seen,last_seen
0,acf-00040861bc3f593000830d987d09967ef3503ef1,Person,Kolyvanov Egor,Колыванов Егор,1980-11-15,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-05-05 15:26,2022-12-23 18:13
1,acf-0011c68a768924609dc5da5707ac7fa4c4d645a2,Person,Shipov Sergei Yurievich,Шипов Сергей Юрьевич,1966-04-17,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-07-09 18:14,2022-12-23 18:13
2,acf-001e7e4c0363f08f1e784c230457960b84a6416f,Person,Egorov Ivan Mikhailovich,Егоров Иван Михайлович,1961-01-21,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-05-05 15:26,2022-12-23 18:13
3,acf-002c208139012c8d93b6298358188d7cadafe648,Person,Goreslavsky Alexey Sergeyevich,Гореславский Алексей Сергеевич,1977-07-13,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-09-20 1:05,2022-12-23 18:13
4,acf-002cc8fdf8fe41185091a7cb6c598663e7a22eb5,Person,Samoilova Natalya Vladimirovna,Самойлова Наталья Владимировна,1987-06-24,NaN,NaN,NaN,NaN,NaN,NaN,ACF List of bribetakers and warmongers,2022-09-20 1:05,2022-12-23 18:13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252975,us-occ-ffdcc2410db4f396bcf8e966beacd6f80a89a4c0,Person,Anthony Diamante,NaN,NaN,us,"Philadelphia, PENNSYLVANIA",NaN,Prohibition/Removal Orders - 2008-09-12,NaN,NaN,OCC Enforcement Actions,2022-07-12 12:01,2022-12-23 18:17
252976,us-occ-ffee3243d1cf6089e71ea11bb155f5adc30432ca,Person,Simone Mitchell,NaN,NaN,us,"Philadelphia, PENNSYLVANIA",NaN,1829 Prohibition Notification - 2000-12-04,NaN,NaN,OCC Enforcement Actions,2022-07-12 12:01,2022-12-23 18:17
252977,us-occ-ffeee0a3a2639f2960cd42a0756670afc30af414,Person,Ana Perales,NaN,NaN,us,NaN,NaN,1829 Prohibition Notification - 2001-07-03,NaN,NaN,OCC Enforcement Actions,2022-07-12 12:01,2022-12-23 18:17
252978,us-occ-fff06e619594bc67212688d8affc40e58bbbe4f8,Person,Laurie Hinnenkamp,NaN,NaN,us,"Charlotte, NORTH CAROLINA",NaN,1829 Prohibition Notification - 2003-07-07,NaN,NaN,OCC Enforcement Actions,2022-07-12 12:01,2022-12-23 18:17
252979,us-occ-fff7d010832a1f6c6ff326d427d1d7f225900d2b,Person,Rachel A. White,NaN,NaN,us,"Rogers, ARKANSAS",NaN,1829 Prohibition Notification - 1999-11-02,NaN,NaN,OCC Enforcement Actions,2022-07-12 12:01,2022-12-23 18:17

In [ ]:
df.columns

Index(['id', 'schema', 'name', 'aliases', 'birth_date', 'countries',
       'addresses', 'identifiers', 'sanctions', 'phones', 'emails', 'dataset',
       'first_seen', 'last_seen'],
      dtype='object')

In [ ]:
col_drop=['id', 'schema','countries','addresses', 'identifiers', 'sanctions', 'phones', 'emails', 'dataset','first_seen', 'last_seen']

In [ ]:
df.drop(col_drop,inplace=True, axis=1)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [ ]:
df

,name,aliases,birth_date
0,Kolyvanov Egor,Колыванов Егор,1980-11-15
1,Shipov Sergei Yurievich,Шипов Сергей Юрьевич,1966-04-17
2,Egorov Ivan Mikhailovich,Егоров Иван Михайлович,1961-01-21
3,Goreslavsky Alexey Sergeyevich,Гореславский Алексей Сергеевич,1977-07-13
4,Samoilova Natalya Vladimirovna,Самойлова Наталья Владимировна,1987-06-24
...,...,...,...
252975,Anthony Diamante,NaN,NaN
252976,Simone Mitchell,NaN,NaN
252977,Ana Perales,NaN,NaN
252978,Laurie Hinnenkamp,NaN,NaN
252979,Rachel A. White,NaN,NaN

In [ ]:
fd_x=df.dropna(axis=0,inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

None

In [ ]:
df

,name,aliases,birth_date
0,Kolyvanov Egor,Колыванов Егор,1980-11-15
1,Shipov Sergei Yurievich,Шипов Сергей Юрьевич,1966-04-17
2,Egorov Ivan Mikhailovich,Егоров Иван Михайлович,1961-01-21
3,Goreslavsky Alexey Sergeyevich,Гореславский Алексей Сергеевич,1977-07-13
4,Samoilova Natalya Vladimirovna,Самойлова Наталья Владимировна,1987-06-24
...,...,...,...
240803,французькою мовою Lambert Jérôme,Ламбер Жером,1957-07-07
240804,Lavinia Grumeza,Лавінія Грумеза,1985-06-14
240805,Лавров Владимир Валерьевич,Лавров Володимир Валерійович,1983-10-19
240806,Дорошко Валентин Валерьевич,Дорошко Валентин Валерійович,1984-10-02
240807,Аль-Хамалі Мохамед,Al-Hamali Mohamed,1991-08-20

In [ ]:
df.birth_date.isna().sum()

0

Further cleaning

1. Translate if not in ascii..
2.

In [ ]:
test="Ari Trausti Guðmundsson"
test.isascii()

False

In [ ]:
result=translator.translate(test,dest='en')
result.text

'Ari Trausti Guðmundsson'

In [ ]:
import unicodedata
output = unicodedata.normalize('NFD',test).encode('ascii', 'ignore')

In [ ]:
output

b'Ari Trausti Gumundsson'

In [ ]:
pip install unidecode

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: unidecode in /usr/local/lib/python3.8/dist-packages (1.3.6)

In [ ]:
from unidecode import unidecode
x=unidecode(test)

In [ ]:
fuzz.token_set_ratio(x,result.text)

98

In [ ]:
def convert(col):
  if str(col).isascii()==False:
    result=translator.translate(str(col),dest='en')
    text=result.text
    text=text.lower()
  else:
    text=str(col).lower()
  return text

In [ ]:
x=df.head(10000)

In [ ]:
x

,name,aliases,birth_date
0,Kolyvanov Egor,Колыванов Егор,1980-11-15
1,Shipov Sergei Yurievich,Шипов Сергей Юрьевич,1966-04-17
2,Egorov Ivan Mikhailovich,Егоров Иван Михайлович,1961-01-21
3,Goreslavsky Alexey Sergeyevich,Гореславский Алексей Сергеевич,1977-07-13
4,Samoilova Natalya Vladimirovna,Самойлова Наталья Владимировна,1987-06-24
...,...,...,...
59092,Khaldoun Al-Zoubi,Khaldoon;Khaldoon Al-Zoubi;Khaldoon Al-Zu'bi;K...,1979
59093,"AL-JABURI, Attallah Salman 'Abd Kafi",'Ataalla Salman 'Abd KAFI;'Ataallah Salman Kaf...,1973-01-01
59095,KHRAMOV Mikhail Mikhailovich,Mikhail Mikhailovich KHRAMOV;ХРАМОВ Михаил Мих...,1981-01-19
59096,Elena Evgen'yevna Leonenko,Leonenko Elena Evgen'evna;Leonenko Elena Evgen...,1964-03-05
59097,Ivan Branislavavich MYSLITSK,Ivan Branislavavich MYSLITSKI;Ivan Branislavav...,1976-10-23

In [ ]:
x['names']=x['name'].apply(convert)

<ipython-input-30-6082eaa758e6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['names']=x['name'].apply(convert)

In [ ]:
x

,name,aliases,birth_date,names
0,Kolyvanov Egor,Колыванов Егор,1980-11-15,kolyvanov egor
1,Shipov Sergei Yurievich,Шипов Сергей Юрьевич,1966-04-17,shipov sergei yurievich
2,Egorov Ivan Mikhailovich,Егоров Иван Михайлович,1961-01-21,egorov ivan mikhailovich
3,Goreslavsky Alexey Sergeyevich,Гореславский Алексей Сергеевич,1977-07-13,goreslavsky alexey sergeyevich
4,Samoilova Natalya Vladimirovna,Самойлова Наталья Владимировна,1987-06-24,samoilova natalya vladimirovna
...,...,...,...,...
59092,Khaldoun Al-Zoubi,Khaldoon;Khaldoon Al-Zoubi;Khaldoon Al-Zu'bi;K...,1979,khaldoun al-zoubi
59093,"AL-JABURI, Attallah Salman 'Abd Kafi",'Ataalla Salman 'Abd KAFI;'Ataallah Salman Kaf...,1973-01-01,"al-jaburi, attallah salman 'abd kafi"
59095,KHRAMOV Mikhail Mikhailovich,Mikhail Mikhailovich KHRAMOV;ХРАМОВ Михаил Мих...,1981-01-19,khramov mikhail mikhailovich
59096,Elena Evgen'yevna Leonenko,Leonenko Elena Evgen'evna;Leonenko Elena Evgen...,1964-03-05,elena evgen'yevna leonenko
59097,Ivan Branislavavich MYSLITSK,Ivan Branislavavich MYSLITSKI;Ivan Branislavav...,1976-10-23,ivan branislavavich myslitsk

In [ ]:
df.iloc[733,]

name          Nemets Anastasia Sergeevna
aliases        Немец Анастасия Сергеевна
birth_date                    1982-07-30
Name: 1210, dtype: object

In [ ]:
def ascii(col):
  if str(col).isascii()==True:
    return "True"
  else:
    return "False"

In [ ]:
df['criteria']=df['name'].apply(ascii)

<ipython-input-34-2a9eabbccc44>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['criteria']=df['name'].apply(ascii)

In [ ]:
df_test=df[df['criteria']=='False']

In [ ]:
df_test

,name,aliases,birth_date,criteria
2965,Burgaнov Rafis Timerhanovich,Бурганов Рафис Тимерханович,1961-08-17,False
4012,Aleksandar Radovanović,Aca Radovanović,1973-06-20,False
4017,Brane Džinić,Čupo Džinić,1974-06-28,False
4021,Dragan Medić,Guljo Medić,1970-12-08,False
4022,Dragan Stanojević,Janjić Stanojević,1962-03-13,False
...,...,...,...,...
240801,Новосьолова Надія Юріївна,Новоселова Надежда Юрьевна,1979-11-26,False
240803,французькою мовою Lambert Jérôme,Ламбер Жером,1957-07-07,False
240805,Лавров Владимир Валерьевич,Лавров Володимир Валерійович,1983-10-19,False
240806,Дорошко Валентин Валерьевич,Дорошко Валентин Валерійович,1984-10-02,False
240807,Аль-Хамалі Мохамед,Al-Hamali Mohamed,1991-08-20,False

google api is giving a time out for sending continous request. So let us divide this dataframe into 3 parts and then combine later.

In [ ]:
df_1=df_test.iloc[:10000,:]

In [ ]:
df_1.shape

(10000, 4)

In [ ]:
df_1.tail()

,name,aliases,birth_date,criteria
122909,Alfredo Ríos Camarena,Alfredo Rios Camarena;الفريدو ريوس كامارينا,1935-10-18,False
122910,Alma Lilia Luna Munguía,Alma Lilia Luna Munguia;Luna Munguía Alma Lili...,1976-08-06,False
122914,Ana Teresa Velázquez Beeck,Ana Teresa Velazquez Beeck;انا تيريسا ڤيلازكوي...,1982-07-15,False
122915,Ana Yurixi Leyva Piñón,Ana Yurixi Leyva Pinon;انا يوريكسى ليڤا پينون,1973-06-19,False
122917,Irma Piñeyro Arias,Antonia Irma Piñeyro Arias;Irma Pineyro Arias;...,1954-09-26,False

In [ ]:
df_2=df_test.iloc[10000:20000,:]

In [ ]:
df_2.head()

,name,aliases,birth_date,criteria
122919,Dora Martínez Valero,Dora Martinez Valero;دورا مارتينيز ڤاليرو,1976-01-03,False
122922,Antonio Medellín Varela,Antonio Medellin Varela;انتونيو ميديلين ڤاريلا,1957-07-10,False
122926,Mario Mendoza Cortés,Mario Mendoza Cortes;ماريو مندوزا كورتيس,1968-07-26,False
122927,Mario Moreno Álvarez,Mario Moreno Alvarez;ماريو مورينو ألفاريز;ماري...,1964-11-12,False
122928,Mario Vallejo Estévez,Mario Vallejo Estevez;ماريو ڤاليچو استيڤيز,1959-05-28,False

In [ ]:
df_2.shape

(10000, 4)

In [ ]:
df_3=df_test.iloc[20000:,:]

In [ ]:
df_3.shape

(3687, 4)

In [ ]:
df_1['names']=df_1['name'].apply(convert)

<ipython-input-67-9b667c240f7f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['names']=df_1['name'].apply(convert)

In [ ]:
df_1

,name,aliases,birth_date,criteria,names
2965,Burgaнov Rafis Timerhanovich,Бурганов Рафис Тимерханович,1961-08-17,False,burganov rafis timerhanovich
4012,Aleksandar Radovanović,Aca Radovanović,1973-06-20,False,aleksandar radovanović
4017,Brane Džinić,Čupo Džinić,1974-06-28,False,brane dzinic
4021,Dragan Medić,Guljo Medić,1970-12-08,False,dragan medic
4022,Dragan Stanojević,Janjić Stanojević,1962-03-13,False,dragan stanojević
...,...,...,...,...,...
122909,Alfredo Ríos Camarena,Alfredo Rios Camarena;الفريدو ريوس كامارينا,1935-10-18,False,alfredo rios camarena
122910,Alma Lilia Luna Munguía,Alma Lilia Luna Munguia;Luna Munguía Alma Lili...,1976-08-06,False,alma lilia luna munguía
122914,Ana Teresa Velázquez Beeck,Ana Teresa Velazquez Beeck;انا تيريسا ڤيلازكوي...,1982-07-15,False,ana teresa velazquez beeck
122915,Ana Yurixi Leyva Piñón,Ana Yurixi Leyva Pinon;انا يوريكسى ليڤا پينون,1973-06-19,False,ana yurixi leyva pinon
122917,Irma Piñeyro Arias,Antonia Irma Piñeyro Arias;Irma Pineyro Arias;...,1954-09-26,False,irma piñeyro arias

In [ ]:
df_2['names']=df_2['name'].apply(convert)

<ipython-input-69-9e5c1e2f31cb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['names']=df_2['name'].apply(convert)

In [ ]:
df_3['names']=df_3['name'].apply(convert)

<ipython-input-65-e44c216b59eb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3['names']=df_3['name'].apply(convert)

In [ ]:
df_1.to_csv('df_1.csv')
df_2.to_csv('df_2.csv')
df_2.to_csv('df_3.csv')

In [ ]:
df_3

,name,aliases,birth_date,criteria,names
178696,Felício Laterça,Delegado Felício Laterça;Felicio Laterca,1967-05-26,False,felicio laterça
178698,Julio César Ribeiro,Julio Cesar;Julio Cesar Ribeiro,1975-02-24,False,julio cesar ribeiro
178703,Antônio José Albuquerque,Aj Albuquerque,1983-09-26,False,antonio jose albuquerque
178714,Antônio Pinheiro Neto,Antonio Pinheiro Neto;Pinheirinho,1991-05-30,False,antonio pinheiro neto
178715,Júnior Marreca Filho,Junior Marreca Filho,1992-04-25,False,junior marreca filho
...,...,...,...,...,...
240801,Новосьолова Надія Юріївна,Новоселова Надежда Юрьевна,1979-11-26,False,novosyolova nadiya yuriivna
240803,французькою мовою Lambert Jérôme,Ламбер Жером,1957-07-07,False,in french by lambert jérôme
240805,Лавров Владимир Валерьевич,Лавров Володимир Валерійович,1983-10-19,False,lavrov vladimir valerievich
240806,Дорошко Валентин Валерьевич,Дорошко Валентин Валерійович,1984-10-02,False,doroshko valentin valerievich
240807,Аль-Хамалі Мохамед,Al-Hamali Mohamed,1991-08-20,False,al-hamali mohamed

In [ ]:
df_1

,name,aliases,birth_date,criteria,names
2965,Burgaнov Rafis Timerhanovich,Бурганов Рафис Тимерханович,1961-08-17,False,burganov rafis timerhanovich
4012,Aleksandar Radovanović,Aca Radovanović,1973-06-20,False,aleksandar radovanović
4017,Brane Džinić,Čupo Džinić,1974-06-28,False,brane dzinic
4021,Dragan Medić,Guljo Medić,1970-12-08,False,dragan medic
4022,Dragan Stanojević,Janjić Stanojević,1962-03-13,False,dragan stanojević
...,...,...,...,...,...
122909,Alfredo Ríos Camarena,Alfredo Rios Camarena;الفريدو ريوس كامارينا,1935-10-18,False,alfredo rios camarena
122910,Alma Lilia Luna Munguía,Alma Lilia Luna Munguia;Luna Munguía Alma Lili...,1976-08-06,False,alma lilia luna munguía
122914,Ana Teresa Velázquez Beeck,Ana Teresa Velazquez Beeck;انا تيريسا ڤيلازكوي...,1982-07-15,False,ana teresa velazquez beeck
122915,Ana Yurixi Leyva Piñón,Ana Yurixi Leyva Pinon;انا يوريكسى ليڤا پينون,1973-06-19,False,ana yurixi leyva pinon
122917,Irma Piñeyro Arias,Antonia Irma Piñeyro Arias;Irma Pineyro Arias;...,1954-09-26,False,irma piñeyro arias

In [ ]:
df_2

,name,aliases,birth_date,criteria,names
122919,Dora Martínez Valero,Dora Martinez Valero;دورا مارتينيز ڤاليرو,1976-01-03,False,dora martinez valero
122922,Antonio Medellín Varela,Antonio Medellin Varela;انتونيو ميديلين ڤاريلا,1957-07-10,False,antonio medellin varela
122926,Mario Mendoza Cortés,Mario Mendoza Cortes;ماريو مندوزا كورتيس,1968-07-26,False,mario mendoza cortes
122927,Mario Moreno Álvarez,Mario Moreno Alvarez;ماريو مورينو ألفاريز;ماري...,1964-11-12,False,mario moreno alvarez
122928,Mario Vallejo Estévez,Mario Vallejo Estevez;ماريو ڤاليچو استيڤيز,1959-05-28,False,mario vallejo estevez
...,...,...,...,...,...
178680,Rıza Ilıman,Riza Iliman,1934,False,riza iliman
178681,Durmuş Fikri Sağlar,Fikri Saglar;Fikri Sağlar,1953,False,provides stopped idea
178686,Branislav Gröhling,Branislav GROHLING;Branislav Grohling;Бронисла...,1974-04-06,False,branislav gröhling
178688,Kemal Dürüst,"Dürüst, Kemal",1971,False,kemal honest
178689,Muhsin Kızılkaya,Muhsin Kizilkaya,1963,False,muhsin kizilkaya

In [ ]:
df_data=pd.concat([df_1,df_2,df_3])

In [ ]:
df_data

,name,aliases,birth_date,criteria,names
2965,Burgaнov Rafis Timerhanovich,Бурганов Рафис Тимерханович,1961-08-17,False,burganov rafis timerhanovich
4012,Aleksandar Radovanović,Aca Radovanović,1973-06-20,False,aleksandar radovanović
4017,Brane Džinić,Čupo Džinić,1974-06-28,False,brane dzinic
4021,Dragan Medić,Guljo Medić,1970-12-08,False,dragan medic
4022,Dragan Stanojević,Janjić Stanojević,1962-03-13,False,dragan stanojević
...,...,...,...,...,...
240801,Новосьолова Надія Юріївна,Новоселова Надежда Юрьевна,1979-11-26,False,novosyolova nadiya yuriivna
240803,французькою мовою Lambert Jérôme,Ламбер Жером,1957-07-07,False,in french by lambert jérôme
240805,Лавров Владимир Валерьевич,Лавров Володимир Валерійович,1983-10-19,False,lavrov vladimir valerievich
240806,Дорошко Валентин Валерьевич,Дорошко Валентин Валерійович,1984-10-02,False,doroshko valentin valerievich
240807,Аль-Хамалі Мохамед,Al-Hamali Mohamed,1991-08-20,False,al-hamali mohamed

In [ ]:
df_data_final=df_data[['names','aliases','birth_date','criteria']]

In [ ]:
df_data_final.rename(columns={'names':'name'},inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [ ]:
df_data_final

,name,aliases,birth_date,criteria
2965,burganov rafis timerhanovich,Бурганов Рафис Тимерханович,1961-08-17,False
4012,aleksandar radovanović,Aca Radovanović,1973-06-20,False
4017,brane dzinic,Čupo Džinić,1974-06-28,False
4021,dragan medic,Guljo Medić,1970-12-08,False
4022,dragan stanojević,Janjić Stanojević,1962-03-13,False
...,...,...,...,...
240801,novosyolova nadiya yuriivna,Новоселова Надежда Юрьевна,1979-11-26,False
240803,in french by lambert jérôme,Ламбер Жером,1957-07-07,False
240805,lavrov vladimir valerievich,Лавров Володимир Валерійович,1983-10-19,False
240806,doroshko valentin valerievich,Дорошко Валентин Валерійович,1984-10-02,False
240807,al-hamali mohamed,Al-Hamali Mohamed,1991-08-20,False

In [ ]:
df_true=df[df['criteria']=='True']

In [ ]:
df_true

,name,aliases,birth_date,criteria
0,Kolyvanov Egor,Колыванов Егор,1980-11-15,True
1,Shipov Sergei Yurievich,Шипов Сергей Юрьевич,1966-04-17,True
2,Egorov Ivan Mikhailovich,Егоров Иван Михайлович,1961-01-21,True
3,Goreslavsky Alexey Sergeyevich,Гореславский Алексей Сергеевич,1977-07-13,True
4,Samoilova Natalya Vladimirovna,Самойлова Наталья Владимировна,1987-06-24,True
...,...,...,...,...
240772,Weber Hendrik,Вебер Хендрік,1977-01-01,True
240785,Valdegamberi Stefano,Вальдегамбері Стефано,1970-05-06,True
240790,Victor Cojocaru,Віктор Кожокару,1969-06-18,True
240800,Marsili Marco Manuel,Марсілі Марко Мануель,1968-11-22,True
240804,Lavinia Grumeza,Лавінія Грумеза,1985-06-14,True

In [ ]:
df_final=pd.concat([df_true,df_data_final])

In [ ]:
df_final

,name,aliases,birth_date,criteria
0,Kolyvanov Egor,Колыванов Егор,1980-11-15,True
1,Shipov Sergei Yurievich,Шипов Сергей Юрьевич,1966-04-17,True
2,Egorov Ivan Mikhailovich,Егоров Иван Михайлович,1961-01-21,True
3,Goreslavsky Alexey Sergeyevich,Гореславский Алексей Сергеевич,1977-07-13,True
4,Samoilova Natalya Vladimirovna,Самойлова Наталья Владимировна,1987-06-24,True
...,...,...,...,...
240801,novosyolova nadiya yuriivna,Новоселова Надежда Юрьевна,1979-11-26,False
240803,in french by lambert jérôme,Ламбер Жером,1957-07-07,False
240805,lavrov vladimir valerievich,Лавров Володимир Валерійович,1983-10-19,False
240806,doroshko valentin valerievich,Дорошко Валентин Валерійович,1984-10-02,False
240807,al-hamali mohamed,Al-Hamali Mohamed,1991-08-20,False

In [ ]:
df.shape

(108964, 4)

In [ ]:
df.isna().sum()

name          0
aliases       0
birth_date    0
criteria      0
dtype: int64

In [ ]:
df_final.shape

(108964, 4)

In [ ]:
df.isna().sum()

name          0
aliases       0
birth_date    0
criteria      0
dtype: int64

In [ ]:
def convert_to_lower(col):
  return str(col).lower()

In [ ]:
df_final['names']=df_final['name'].apply(convert_to_lower)

In [ ]:
df_final

,name,aliases,birth_date,criteria,names
0,Kolyvanov Egor,Колыванов Егор,1980-11-15,True,kolyvanov egor
1,Shipov Sergei Yurievich,Шипов Сергей Юрьевич,1966-04-17,True,shipov sergei yurievich
2,Egorov Ivan Mikhailovich,Егоров Иван Михайлович,1961-01-21,True,egorov ivan mikhailovich
3,Goreslavsky Alexey Sergeyevich,Гореславский Алексей Сергеевич,1977-07-13,True,goreslavsky alexey sergeyevich
4,Samoilova Natalya Vladimirovna,Самойлова Наталья Владимировна,1987-06-24,True,samoilova natalya vladimirovna
...,...,...,...,...,...
240801,novosyolova nadiya yuriivna,Новоселова Надежда Юрьевна,1979-11-26,False,novosyolova nadiya yuriivna
240803,in french by lambert jérôme,Ламбер Жером,1957-07-07,False,in french by lambert jérôme
240805,lavrov vladimir valerievich,Лавров Володимир Валерійович,1983-10-19,False,lavrov vladimir valerievich
240806,doroshko valentin valerievich,Дорошко Валентин Валерійович,1984-10-02,False,doroshko valentin valerievich
240807,al-hamali mohamed,Al-Hamali Mohamed,1991-08-20,False,al-hamali mohamed

In [ ]:
df_clean_names=df_final[['names','aliases','birth_date']]

In [ ]:
df_clean_names

,names,aliases,birth_date
0,kolyvanov egor,Колыванов Егор,1980-11-15
1,shipov sergei yurievich,Шипов Сергей Юрьевич,1966-04-17
2,egorov ivan mikhailovich,Егоров Иван Михайлович,1961-01-21
3,goreslavsky alexey sergeyevich,Гореславский Алексей Сергеевич,1977-07-13
4,samoilova natalya vladimirovna,Самойлова Наталья Владимировна,1987-06-24
...,...,...,...
240801,novosyolova nadiya yuriivna,Новоселова Надежда Юрьевна,1979-11-26
240803,in french by lambert jérôme,Ламбер Жером,1957-07-07
240805,lavrov vladimir valerievich,Лавров Володимир Валерійович,1983-10-19
240806,doroshko valentin valerievich,Дорошко Валентин Валерійович,1984-10-02
240807,al-hamali mohamed,Al-Hamali Mohamed,1991-08-20

In [ ]:
df_clean_names.to_csv('sanctioned_clean_names.csv')

In [ ]:
df_clean_names.to_csv('df_sanction.csv')

In [ ]:
from google.colab import files

In [ ]:
files.download('sanctioned_clean_names.csv')