<a href="https://colab.research.google.com/github/praveen555/IMI-BIGDATA--CHALLENGE/blob/main/kYC_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install fuzzywuzzy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [ ]:
pip install python-levenshtein

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting python-levenshtein
  Downloading python_Levenshtein-0.20.9-py3-none-any.whl (9.4 kB)
Collecting Levenshtein==0.20.9
  Downloading Levenshtein-0.20.9-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (174 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 174.0/174.0 KB 4.2 MB/s eta 0:00:00
Collecting rapidfuzz<3.0.0,>=2.3.0
  Downloading rapidfuzz-2.13.7-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.2/2.2 MB 40.3 MB/s eta 0:00:00
Installing collected packages: rapidfuzz, Levenshtein, python-levenshtein
Successfully installed Levenshtein-0.20.9 python-levenshtein-0.20.9 rapidfuzz-2.13.7

In [ ]:
import os
import pandas as pd
import re 
import matplotlib.pyplot as plt
from datetime import datetime, date
import numpy as np
from google.colab import drive
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
drive.mount('/content/drive')
path='/content/drive/MyDrive/Colab Notebooks/IMI_BigData_Challenge/Raw data files'
path_2='/content/drive/MyDrive/Colab Notebooks/IMI_BigData_Challenge/Task_1_Data'
path_edge=os.path.join(path,'UofT_edges.csv')
path_nodes=os.path.join(path,'UofT_nodes.csv')
path_occupation_risk=os.path.join(path,'UofT_occupation_risk.csv')
path_name_list='/content/drive/MyDrive/Colab Notebooks/IMI_BigData_Challenge/name_list.csv'
path_clean_customer=os.path.join(path_2,'clean_customer_names.csv')
path_clean_sanctions=os.path.join(path_2,'clean_sanction_names.csv')

Mounted at /content/drive

In [ ]:
customer_names=pd.read_csv(path_clean_customer)

In [ ]:
sanction_names=pd.read_csv('sanctioned_clean_names.csv')

In [ ]:
customer_names

,Unnamed: 0,NAME,BIRTH_DT,cleaned_names
0,0,"Young, Marie Mildren Coleman",1981-09-01,young marie mildren coleman
1,1,Mark Stupar Lecy,1994-02-21,mark stupar lecy
2,2,Dean Glasper Wendel Reeves,1962-11-16,dean glasper wendel reeves
3,3,"Hulsey, Linda Rauth",1998-06-20,hulsey linda rauth
4,4,Carolyn Washington Roberts,1942-01-24,carolyn washington roberts
...,...,...,...,...
999335,999995,Bret* Dove Gainey,1939-01-16,bret dove gainey
999336,999996,Anthony Ray Montano Gomez,1970-12-13,anthony ray montano gomez
999337,999997,Bernadette Schofield Pace Mile,1958-09-09,bernadette schofield pace mile
999338,999998,"Wasson, Russell Terrell",1983-09-15,wasson russell terrell
999339,999999,Daniel Mckeighan,1962-01-23,daniel mckeighan

In [ ]:
sanction_names

,Unnamed: 0,names,aliases,birth_date
0,0,kolyvanov egor,Колыванов Егор,1980-11-15
1,1,shipov sergei yurievich,Шипов Сергей Юрьевич,1966-04-17
2,2,egorov ivan mikhailovich,Егоров Иван Михайлович,1961-01-21
3,3,goreslavsky alexey sergeyevich,Гореславский Алексей Сергеевич,1977-07-13
4,4,samoilova natalya vladimirovna,Самойлова Наталья Владимировна,1987-06-24
...,...,...,...,...
108959,240801,novosyolova nadiya yuriivna,Новоселова Надежда Юрьевна,1979-11-26
108960,240803,in french by lambert jérôme,Ламбер Жером,1957-07-07
108961,240805,lavrov vladimir valerievich,Лавров Володимир Валерійович,1983-10-19
108962,240806,doroshko valentin valerievich,Дорошко Валентин Валерійович,1984-10-02
108963,240807,al-hamali mohamed,Al-Hamali Mohamed,1991-08-20

In [ ]:
sanction_names.rename(columns={'birth_date':"BIRTH_DT"},inplace=True)

In [ ]:
sanction_names.head(2)

   Unnamed: 0                    names               aliases    BIRTH_DT
0           0           kolyvanov egor        Колыванов Егор  1980-11-15
1           1  shipov sergei yurievich  Шипов Сергей Юрьевич  1966-04-17

In [ ]:
df=pd.merge(customer_names,sanction_names,on='BIRTH_DT')

In [ ]:
df

,Unnamed: 0_x,NAME,BIRTH_DT,cleaned_names,Unnamed: 0_y,names,aliases
0,0,"Young, Marie Mildren Coleman",1981-09-01,young marie mildren coleman,61409,"petrovic, zelimir",Zelimir Petrovic
1,0,"Young, Marie Mildren Coleman",1981-09-01,young marie mildren coleman,128964,matt warman,"Matthew Robert Warman;Warman, Matt;مات وارمان;..."
2,0,"Young, Marie Mildren Coleman",1981-09-01,young marie mildren coleman,139893,alfredo anaya orozco,Anaya Orozco Alfredo
3,0,"Young, Marie Mildren Coleman",1981-09-01,young marie mildren coleman,142779,terry healy,Terence James Healy;تيري هيلي
4,0,"Young, Marie Mildren Coleman",1981-09-01,young marie mildren coleman,121647,jose ignacio beating,Jose Ignacio Paliza;Jose Paliza;José Ignacio P...
...,...,...,...,...,...,...,...
3892223,991613,Clarissa Smith Henley Martin,1918-02-08,clarissa smith henley martin,189445,max rayne,"Max Rayne, Baron Rayne;ماكس راين"
3892224,994339,June Vick Fultz,1921-04-21,june vick fultz,8279,pierre teuscher,"Teuscher, Pierre"
3892225,994339,June Vick Fultz,1921-04-21,june vick fultz,127020,nicolaus dreyer,Dreyer!;Nikolaus Dreyer;نيكولاوس درير
3892226,998751,Nick Tamayo Turner,1925-08-31,nick tamayo turner,166671,dewey l. hill,Dewey Lewis Hill;ديوى ال. هيل;ديوي إل. هيل;دیو...
3892227,998751,Nick Tamayo Turner,1925-08-31,nick tamayo turner,193988,shirley walters,"Mary Shirley Walters;Mary Walters;Walters, Mary"

In [ ]:
def fuzzyscore(col):
  return fuzz.token_set_ratio(col['cleaned_names'],col['names'])

In [ ]:
df['score']=df.apply(fuzzyscore,axis=1)

In [ ]:
high_risk_names=df[(df['score']==76)]

In [ ]:
high_risk_names.shape

(29, 8)

In [ ]:
high_risk_names.sort_values('score',ascending=False,inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [ ]:
high_risk_names

,Unnamed: 0_x,NAME,BIRTH_DT,cleaned_names,Unnamed: 0_y,names,aliases,score
231988,760871,Richard Anderson Yates,1982-04-14,richard anderson yates,123811,neil anderson,Neil Anderson (Illinois politician);نيل أندرسون,76
1449029,222822,"Carter, Lon Johnson",1977-12-31,carter lon johnson,138633,caroline johnson,Caroline Elizabeth Johnson;Dr Caroline Johnson...,76
3400566,321453,Ashley Thompson Locke Yang,1942-08-19,ashley thompson locke yang,142317,fred thompson,Fred D.Thompson;Fred Dalton Thompson;Fred Thom...,76
3117505,659849,"Gray, Christopher Smith",1962-10-25,gray christopher smith,165003,christopher fraser,Christopher James Fraser;Кристофер Фрайзер;كري...,76
3085781,301178,Brenda Pope,1971-01-20,brenda pope,100011,petr benda,"Benda, Petr",76
2919001,75043,"Anderson, Donald Patton",1956-11-14,anderson donald patton,145741,john anderson,"Anderson, John;John Duncan Anderson;جان اندرسو...",76
2594468,422149,Maria CASE Thompson,1957-08-12,maria case thompson,198547,mike thompson,Michael Lowry Thompson;মাইক টম্পসন,76
2594398,197034,Kenneth Lane Thompson,1957-08-12,kenneth lane thompson,198547,mike thompson,Michael Lowry Thompson;মাইক টম্পসন,76
2057942,571558,Franklin Kendall Hart Osborne,1973-04-04,franklin kendall hart osborne,141550,franklin lima,Franklin Lima;Franklin Roberto de Lima Souza;P...,76
2047751,467926,"Thompson, Clifford Maynard",1976-11-05,thompson clifford maynard,71329,mike thompson,Michael James Thompson;মাইক টম্পসন,76
1973250,484792,"Currence, Robert",1941-06-03,currence robert,148416,robert carrier,روبرت كارير;روبيرت كارير,76
1945257,610603,"Kelley, Christopher",1978-06-03,kelley christopher,194027,chris kelly,Christopher Dimitri Kelly;Крис Келли;كريس كيلى...,76
1641513,534371,"Tan, James",1982-08-25,tan james,184351,james glancy,James Alexander Glancy;ジェームス・グランシー,76
1518855,710226,"Thompson, Edward Adair Piro",1945-05-28,thompson edward adair piro,172429,john thompson,জন টম্পসন,76
1266546,22394,"Robles, Michael Doby Sanchez",1962-07-10,robles michael doby sanchez,108763,isabella sanchez robles,Isabel Sanchez Robles;Isabel Sánchez;Sánchez R...,76
232010,984293,Barbara Skiver Simon Anderson,1982-04-14,barbara skiver simon anderson,123811,neil anderson,Neil Anderson (Illinois politician);نيل أندرسون,76
1245137,8997,Debordah Christopher Lopez,1950-09-21,debordah christopher lopez,165006,christopher graham,Christopher Sidney Matthew Graham;Кристофер Гр...,76
1139554,715677,"Campbell, Lisa Holt",1957-07-08,campbell lisa holt,137341,alan campbell,"Alan Campbell (politician);Campbell, Sir Alan;...",76
1089461,104078,Clifford eSt&all Williams,1962-01-07,clifford est all williams,119284,poto williams,"Munokoa Poto Williams;Williams, Poto;ポト・ウィリアムズ",76
1042301,87786,Danielle Smith HammoRs,1947-01-14,danielle smith hammors,142861,danielle hérin,Daniele Herin,76
1012026,108284,"Nix, Nicholas Allen White",1955-04-22,nix nicholas allen white,190600,nicholas yang,Nicholas Yang Wei-hsiung;Yang Wei-hsiung;Yang ...,76
708253,81505,Dan Hoffman Thompson,1967-10-04,dan hoffman thompson,188957,mara thompson,Her Honour Mrs. M-J. Mara Thompson;Marie-Josep...,76
658952,180029,Nicholas Elliott,1955-04-30,nicholas elliott,205829,nicolas hulot,"Николя Юло;Юло, Николя;نيكولا إولو;نيكولا اولو...",76
572772,576880,"Sears, Marc Summer Williams",1972-08-23,sears marc summer williams,142894,paul williams,Dr Paul Williams;Paul Daniel Williams;Paul Wil...,76
502882,193811,"iKrk, didi Williams",1973-03-28,ikrk didi williams,113050,matt williams,Matt Williams (Australian politician);Matthew ...,76
475221,884751,Tracey Mcdonald Stewart Bergeron,1980-06-07,tracey mcdonald stewart bergeron,124873,mark mcdonald,Mark McDonald (politician);مارك مكدونالد,76
368288,846384,Cristina Baldino Catchings,1970-03-06,cristina baldino catchings,130401,cristina coto,Cristina Coto de la Mata;クリスティーナ・コト,76
352203,259219,%airn Jennings Valentin Scharich,1970-03-04,airn jennings valentin scharich,103772,valentin rusu,Rusu Valentin;Valentin RUSU;Valentin Rusu (dep...,76
3428218,233112,"Robinson, John",1981-01-13,robinson john,191841,katrina robinson,كاترينا روبنسون,76

In [ ]:
#high_risk_names.to_csv('high_risk_names_v2.csv')

## secondary process ideas ?