In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [ ]:
np.random.seed(0) #Set to compare the difference across various experiements and reproduce the same results.

In [ ]:
data=pd.read_csv('clean_uoft_nodes_v2.csv')

In [ ]:
data.head()

,Unnamed: 0,BIRTH_DT,CUST_ADD_DT,OCPTN_NM,RES_CNTRY_CA,CNTRY_OF_INCOME_CA,PEP_FL,CASH_SUM_IN,CASH_CNT_IN,CASH_SUM_OUT,...,WIRES_SUM_IN,WIRES_CNT_IN,WIRES_SUM_OUT,WIRES_CNT_OUT,COUNTRY_RISK_INCOME,COUNTRY_RISK_RESIDENCY,RISK,NAME,GENDER,CUSTOMER_ID
0,0,1981-09-01,2007-07-05,High,1,1,0.0,2577.785,2.0,2851.663,...,70774.0,62.0,24244.0,35.0,Low,Low,low,"Young, Marie Mildren Coleman",Female,935382.0
1,1,1994-02-21,2019-05-19,High,1,1,0.0,3035.502,2.0,4805.997,...,282929.0,76.0,196439.0,152.0,Low,Low,low,Mark Stupar Lecy,Male,2305.0
2,2,1962-11-16,2011-08-02,High,1,1,0.0,1617.571,1.0,3482.809,...,7632.0,6.0,33598.0,20.0,Low,Low,low,Dean Glasper Wendel Reeves,Male,472403.0
3,3,1998-06-20,2001-08-15,High,1,1,0.0,3587.042,5.0,1940.943,...,149253.0,71.0,105896.0,238.0,Low,Low,low,"Hulsey, Linda Rauth",Female,227994.0
4,4,1942-01-24,2012-10-28,High,1,1,0.0,1725.524,2.0,13197.169,...,92318.0,96.0,187403.0,180.0,Low,Low,low,Carolyn Washington Roberts,Female,418265.0

In [ ]:
data.columns

Index(['Unnamed: 0', 'BIRTH_DT', 'CUST_ADD_DT', 'OCPTN_NM', 'RES_CNTRY_CA',
       'CNTRY_OF_INCOME_CA', 'PEP_FL', 'CASH_SUM_IN', 'CASH_CNT_IN',
       'CASH_SUM_OUT', 'CASH_CNT_OUT', 'WIRES_SUM_IN', 'WIRES_CNT_IN',
       'WIRES_SUM_OUT', 'WIRES_CNT_OUT', 'COUNTRY_RISK_INCOME',
       'COUNTRY_RISK_RESIDENCY', 'RISK', 'NAME', 'GENDER', 'CUSTOMER_ID'],
      dtype='object')

In [ ]:
data=data[['OCPTN_NM', 'RES_CNTRY_CA','CNTRY_OF_INCOME_CA', 'PEP_FL', 'CASH_SUM_IN', 'CASH_CNT_IN',
       'CASH_SUM_OUT', 'CASH_CNT_OUT', 'WIRES_SUM_IN', 'WIRES_CNT_IN',
       'WIRES_SUM_OUT', 'WIRES_CNT_OUT', 'COUNTRY_RISK_INCOME',
       'COUNTRY_RISK_RESIDENCY', 'RISK', 'GENDER']]

In [ ]:
data.head()

,OCPTN_NM,RES_CNTRY_CA,CNTRY_OF_INCOME_CA,PEP_FL,CASH_SUM_IN,CASH_CNT_IN,CASH_SUM_OUT,CASH_CNT_OUT,WIRES_SUM_IN,WIRES_CNT_IN,WIRES_SUM_OUT,WIRES_CNT_OUT,COUNTRY_RISK_INCOME,COUNTRY_RISK_RESIDENCY,RISK,GENDER
0,High,1,1,0.0,2577.785,2.0,2851.663,7.0,70774.0,62.0,24244.0,35.0,Low,Low,low,Female
1,High,1,1,0.0,3035.502,2.0,4805.997,15.0,282929.0,76.0,196439.0,152.0,Low,Low,low,Male
2,High,1,1,0.0,1617.571,1.0,3482.809,11.0,7632.0,6.0,33598.0,20.0,Low,Low,low,Male
3,High,1,1,0.0,3587.042,5.0,1940.943,8.0,149253.0,71.0,105896.0,238.0,Low,Low,low,Female
4,High,1,1,0.0,1725.524,2.0,13197.169,43.0,92318.0,96.0,187403.0,180.0,Low,Low,low,Female

In [ ]:
data['RISK'].value_counts()

low       600000
medium    350000
high       50000
Name: RISK, dtype: int64

## Biased only 5%  is high risk

##First split the dataset into only train and test

In [ ]:
y=data['RISK']

In [ ]:
x=data[['OCPTN_NM', 'RES_CNTRY_CA','CNTRY_OF_INCOME_CA', 'PEP_FL', 'CASH_SUM_IN', 'CASH_CNT_IN',
       'CASH_SUM_OUT', 'CASH_CNT_OUT', 'WIRES_SUM_IN', 'WIRES_CNT_IN',
       'WIRES_SUM_OUT', 'WIRES_CNT_OUT', 'COUNTRY_RISK_INCOME',
       'COUNTRY_RISK_RESIDENCY', 'GENDER']]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.30,random_state=0)

In [ ]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(700000, 15) (300000, 15) (700000,) (300000,)

In [ ]:
y_test.value_counts()

low       179977
medium    104951
high       15072
Name: RISK, dtype: int64

In [ ]:
y_train.value_counts()

low       420023
medium    245049
high       34928
Name: RISK, dtype: int64

## One hot encoding

In [ ]:
pip install feature-engine

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting feature-engine
  Downloading feature_engine-1.5.2-py2.py3-none-any.whl (290 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 290.0/290.0 KB 14.9 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.0.3 in /usr/local/lib/python3.8/dist-packages (from feature-engine) (1.3.5)
Requirement already satisfied: numpy>=1.18.2 in /usr/local/lib/python3.8/dist-packages (from feature-engine) (1.21.6)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.8/dist-packages (from feature-engine) (1.7.3)
Requirement already satisfied: scikit-learn>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from feature-engine) (1.0.2)
Requirement already satisfied: statsmodels>=0.11.1 in /usr/local/lib/python3.8/dist-packages (from feature-engine) (0.12.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.3->feature-engine) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.3->feature-engine) (2.8.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=1.0.0->feature-engine) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=1.0.0->feature-engine) (1.2.0)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.8/dist-packages (from statsmodels>=0.11.1->feature-engine) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from patsy>=0.5->statsmodels>=0.11.1->feature-engine) (1.15.0)
Installing collected packages: feature-engine
Successfully installed feature-engine-1.5.2

In [ ]:
from feature_engine.encoding import OneHotEncoder

In [ ]:
encoder = OneHotEncoder(variables=['OCPTN_NM', 'COUNTRY_RISK_RESIDENCY', 'GENDER','COUNTRY_RISK_INCOME'])
encoder.fit(X_train)

OneHotEncoder(variables=['OCPTN_NM', 'COUNTRY_RISK_RESIDENCY', 'GENDER',
                         'COUNTRY_RISK_INCOME'])

In [ ]:
train_t= encoder.transform(X_train)
test_t= encoder.transform(X_test)

encoder.encoder_dict_

{'OCPTN_NM': ['High', 'Low', 'Moderate'],
 'COUNTRY_RISK_RESIDENCY': ['Low', 'High', 'Moderate'],
 'GENDER': ['Male', 'Female'],
 'COUNTRY_RISK_INCOME': ['Low', 'High', 'Moderate']}

In [ ]:
train_t.head()

,RES_CNTRY_CA,CNTRY_OF_INCOME_CA,PEP_FL,CASH_SUM_IN,CASH_CNT_IN,CASH_SUM_OUT,CASH_CNT_OUT,WIRES_SUM_IN,WIRES_CNT_IN,WIRES_SUM_OUT,...,OCPTN_NM_Low,OCPTN_NM_Moderate,COUNTRY_RISK_RESIDENCY_Low,COUNTRY_RISK_RESIDENCY_High,COUNTRY_RISK_RESIDENCY_Moderate,GENDER_Male,GENDER_Female,COUNTRY_RISK_INCOME_Low,COUNTRY_RISK_INCOME_High,COUNTRY_RISK_INCOME_Moderate
823666,1,1,0.0,32126.513,13.0,35254.0,39.0,6359754.0,125.0,2628183.0,...,0,0,1,0,0,1,0,1,0,0
70066,1,1,0.0,10765.000,5.0,14582.0,9.0,8757029.0,94.0,1986438.0,...,0,0,1,0,0,0,1,1,0,0
591943,1,1,0.0,7100.000,2.0,29314.0,12.0,5199942.0,14.0,883990.0,...,1,0,1,0,0,0,1,1,0,0
578645,1,1,0.0,12995.000,8.0,6611.0,10.0,3691194.0,132.0,683724.0,...,1,0,1,0,0,0,1,1,0,0
675461,1,1,0.0,2983.000,1.0,1026.0,0.0,5021381.0,5.0,2022421.0,...,0,0,1,0,0,0,1,1,0,0

In [ ]:
test_t.head()

,RES_CNTRY_CA,CNTRY_OF_INCOME_CA,PEP_FL,CASH_SUM_IN,CASH_CNT_IN,CASH_SUM_OUT,CASH_CNT_OUT,WIRES_SUM_IN,WIRES_CNT_IN,WIRES_SUM_OUT,...,OCPTN_NM_Low,OCPTN_NM_Moderate,COUNTRY_RISK_RESIDENCY_Low,COUNTRY_RISK_RESIDENCY_High,COUNTRY_RISK_RESIDENCY_Moderate,GENDER_Male,GENDER_Female,COUNTRY_RISK_INCOME_Low,COUNTRY_RISK_INCOME_High,COUNTRY_RISK_INCOME_Moderate
157105,1,1,0.0,5062.506,5.0,5080.809,18.0,175388.0,12.0,254837.0,...,1,0,1,0,0,1,0,1,0,0
374554,1,1,0.0,2387.515,3.0,4712.113,13.0,38248.0,17.0,35845.0,...,1,0,1,0,0,1,0,1,0,0
688694,1,1,0.0,19338.000,10.0,24456.000,34.0,2949971.0,58.0,993624.0,...,0,0,1,0,0,0,1,1,0,0
265381,1,1,0.0,19568.000,8.0,3380.000,3.0,13929343.0,38.0,5079607.0,...,1,0,1,0,0,0,1,1,0,0
955415,1,1,0.0,52131.917,16.0,16859.000,11.0,633708.0,68.0,189608.0,...,1,0,1,0,0,1,0,1,0,0

In [ ]:
y_train.value_counts()

low       420023
medium    245049
high       34928
Name: RISK, dtype: int64

In [ ]:
y_test.value_counts()

low       179977
medium    104951
high       15072
Name: RISK, dtype: int64

## Undersample the x_train

In [ ]:
from imblearn.under_sampling import RandomUnderSampler
rus = RandomUnderSampler(random_state=0)
X_resampled, y_resampled=rus.fit_resample(train_t, y_train)

In [ ]:
X_resampled.head()

,RES_CNTRY_CA,CNTRY_OF_INCOME_CA,PEP_FL,CASH_SUM_IN,CASH_CNT_IN,CASH_SUM_OUT,CASH_CNT_OUT,WIRES_SUM_IN,WIRES_CNT_IN,WIRES_SUM_OUT,...,OCPTN_NM_Low,OCPTN_NM_Moderate,COUNTRY_RISK_RESIDENCY_Low,COUNTRY_RISK_RESIDENCY_High,COUNTRY_RISK_RESIDENCY_Moderate,GENDER_Male,GENDER_Female,COUNTRY_RISK_INCOME_Low,COUNTRY_RISK_INCOME_High,COUNTRY_RISK_INCOME_Moderate
0,1,1,0.0,32126.513,13.0,35254.0,39.0,6359754.0,125.0,2628183.0,...,0,0,1,0,0,1,0,1,0,0
1,1,1,0.0,2241.518,1.0,6828.0,4.0,3046288.0,37.0,1007276.0,...,0,0,1,0,0,0,1,1,0,0
2,1,1,1.0,28305.220,10.0,52146.0,43.0,2163635.0,99.0,1500897.0,...,0,0,1,0,0,0,1,1,0,0
3,1,1,1.0,35611.397,14.0,28600.0,27.0,1823797.0,61.0,845044.0,...,1,0,1,0,0,0,1,1,0,0
4,1,1,0.0,55294.164,24.0,54619.0,60.0,261108.0,38.0,1955611.0,...,1,0,1,0,0,1,0,1,0,0

In [ ]:
y_resampled.value_counts()

high      34928
low       34928
medium    34928
Name: RISK, dtype: int64

## Standarize the datasets

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()
normalized_x_train = pd.DataFrame(
    scaler.fit_transform(X_resampled),
    columns = X_resampled.columns, index=X_resampled.index)

In [ ]:
normalized_x_train.head()

,RES_CNTRY_CA,CNTRY_OF_INCOME_CA,PEP_FL,CASH_SUM_IN,CASH_CNT_IN,CASH_SUM_OUT,CASH_CNT_OUT,WIRES_SUM_IN,WIRES_CNT_IN,WIRES_SUM_OUT,...,OCPTN_NM_Low,OCPTN_NM_Moderate,COUNTRY_RISK_RESIDENCY_Low,COUNTRY_RISK_RESIDENCY_High,COUNTRY_RISK_RESIDENCY_Moderate,GENDER_Male,GENDER_Female,COUNTRY_RISK_INCOME_Low,COUNTRY_RISK_INCOME_High,COUNTRY_RISK_INCOME_Moderate
0,0.149442,0.122814,-0.447229,0.386547,0.187992,0.174442,0.595310,0.420786,0.489422,0.443843,...,-1.225027,-0.131306,0.131907,-0.12907,-0.026763,1.104217,-1.104217,0.080701,-0.07557,-0.028156
1,0.149442,0.122814,-0.447229,-0.858584,-1.016862,-0.684637,-1.000291,-0.183589,-0.767328,-0.333125,...,-1.225027,-0.131306,0.131907,-0.12907,-0.026763,-0.905619,0.905619,0.080701,-0.07557,-0.028156
2,0.149442,0.122814,2.235991,0.227337,-0.113221,0.684946,0.777664,-0.344584,0.118109,-0.096512,...,-1.225027,-0.131306,0.131907,-0.12907,-0.026763,-0.905619,0.905619,0.080701,-0.07557,-0.028156
3,0.149442,0.122814,2.235991,0.531742,0.288397,-0.026652,0.048246,-0.406570,-0.424578,-0.410890,...,0.816308,-0.131306,0.131907,-0.12907,-0.026763,-0.905619,0.905619,0.080701,-0.07557,-0.028156
4,0.149442,0.122814,-0.447229,1.351806,1.292442,0.759684,1.552670,-0.691604,-0.753047,0.121451,...,0.816308,-0.131306,0.131907,-0.12907,-0.026763,1.104217,-1.104217,0.080701,-0.07557,-0.028156

In [ ]:
normalized_x_test = pd.DataFrame(scaler.transform(test_t),columns = test_t.columns,index=test_t.index)

In [ ]:
normalized_x_test.head()

,RES_CNTRY_CA,CNTRY_OF_INCOME_CA,PEP_FL,CASH_SUM_IN,CASH_CNT_IN,CASH_SUM_OUT,CASH_CNT_OUT,WIRES_SUM_IN,WIRES_CNT_IN,WIRES_SUM_OUT,...,OCPTN_NM_Low,OCPTN_NM_Moderate,COUNTRY_RISK_RESIDENCY_Low,COUNTRY_RISK_RESIDENCY_High,COUNTRY_RISK_RESIDENCY_Moderate,GENDER_Male,GENDER_Female,COUNTRY_RISK_INCOME_Low,COUNTRY_RISK_INCOME_High,COUNTRY_RISK_INCOME_Moderate
157105,0.149442,0.122814,-0.447229,-0.741050,-0.615244,-0.737440,-0.362051,-0.707239,-1.124360,-0.693800,...,0.816308,-0.131306,0.131907,-0.12907,-0.026763,1.104217,-1.104217,0.080701,-0.07557,-0.028156
374554,0.149442,0.122814,-0.447229,-0.852501,-0.816053,-0.748583,-0.589994,-0.732253,-1.052953,-0.798772,...,0.816308,-0.131306,0.131907,-0.12907,-0.026763,1.104217,-1.104217,0.080701,-0.07557,-0.028156
688694,0.149442,0.122814,-0.447229,-0.146274,-0.113221,-0.151891,0.367367,-0.201157,-0.467422,-0.339669,...,-1.225027,-0.131306,0.131907,-0.12907,-0.026763,-0.905619,0.905619,0.080701,-0.07557,-0.028156
265381,0.149442,0.122814,-0.447229,-0.136692,-0.314031,-0.788841,-1.045880,1.801475,-0.753047,1.618912,...,0.816308,-0.131306,0.131907,-0.12907,-0.026763,-0.905619,0.905619,0.080701,-0.07557,-0.028156
955415,0.149442,0.122814,-0.447229,1.220054,0.489206,-0.381484,-0.681171,-0.623642,-0.324610,-0.725067,...,0.816308,-0.131306,0.131907,-0.12907,-0.026763,1.104217,-1.104217,0.080701,-0.07557,-0.028156

## Model Selection

In [ ]:
from sklearn.linear_model import *
from sklearn.ensemble import *

In [ ]:
from sklearn.model_selection import StratifiedKFold

In [ ]:
from sklearn.metrics import *

In [ ]:
## helper function 
def reports(y_true,y_pred):
  print("Accuracy: ",accuracy_score(y_true,y_pred))
  print("Recall Score: ",recall_score(y_true,y_pred,average='macro'))
  print("Precision Score: ",precision_score(y_true,y_pred,average='macro'))
  print("F1 score: ",f1_score(y_true,y_pred,average='macro'))
  print(classification_report(y_true,y_pred))
  print("Confusion Matrix : ")
  print(confusion_matrix(y_true,y_pred))

In [ ]:
models= [('LogReg',LogisticRegression()),
         
          ('RF', RandomForestClassifier()),
          ('AdaBoostClassifier',AdaBoostClassifier() ),
          ('GradientBoostingClassifier',GradientBoostingClassifier()), 
          ('HistGradientBoostingClassifier',HistGradientBoostingClassifier()),
        ]

In [ ]:
def experiment(x_train,x_test,y_train,y_test):
  for name,model in models:
    clf = model.fit(x_train, y_train)
    y_pred = clf.predict(x_test)
    print("For model: ",name)
    reports(y_test,y_pred)

In [ ]:
experiment(normalized_x_train,normalized_x_test,y_resampled,y_test)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

For model:  LogReg
Accuracy:  0.91702
Recall Score:  0.8853934573174645
Precision Score:  0.7809704766065201
F1 score:  0.7944881833238172
              precision    recall  f1-score   support

        high       0.37      0.88      0.52     15072
         low       1.00      1.00      1.00    179977
      medium       0.98      0.78      0.87    104951

    accuracy                           0.92    300000
   macro avg       0.78      0.89      0.79    300000
weighted avg       0.96      0.92      0.93    300000

Confusion Matrix :
[[ 13195     93   1784]
 [     7 179970      0]
 [ 22932     78  81941]]
For model:  RF
Accuracy:  0.9179933333333333
Recall Score:  0.8960438157659242
Precision Score:  0.7851413478670546
F1 score:  0.7990212309990747
              precision    recall  f1-score   support

        high       0.37      0.91      0.53     15072
         low       1.00      1.00      1.00    179977
      medium       0.98      0.78      0.87    104951

    accuracy                           0.92    300000
   macro avg       0.79      0.90      0.80    300000
weighted avg       0.96      0.92      0.93    300000

Confusion Matrix :
[[ 13705     80   1287]
 [    55 179922      0]
 [ 23101     79  81771]]
For model:  AdaBoostClassifier
Accuracy:  0.8897033333333333
Recall Score:  0.7386327143379905
Precision Score:  0.7074242518653108
F1 score:  0.7071962321546358
              precision    recall  f1-score   support

        high       0.22      0.45      0.29     15072
         low       1.00      1.00      1.00    179977
      medium       0.91      0.77      0.83    104951

    accuracy                           0.89    300000
   macro avg       0.71      0.74      0.71    300000
weighted avg       0.93      0.89      0.90    300000

Confusion Matrix :
[[  6798     79   8195]
 [   329 179648      0]
 [ 24402     84  80465]]
For model:  GradientBoostingClassifier
Accuracy:  0.9152
Recall Score:  0.8936465396636879
Precision Score:  0.7825409389763839
F1 score:  0.7949393886165343
              precision    recall  f1-score   support

        high       0.36      0.91      0.52     15072
         low       1.00      1.00      1.00    179977
      medium       0.98      0.77      0.87    104951

    accuracy                           0.92    300000
   macro avg       0.78      0.89      0.79    300000
weighted avg       0.96      0.92      0.93    300000

Confusion Matrix :
[[ 13707    118   1247]
 [   226 179751      0]
 [ 23695    154  81102]]
For model:  HistGradientBoostingClassifier
Accuracy:  0.9230333333333334
Recall Score:  0.9032330102105895
Precision Score:  0.7911289218778554
F1 score:  0.8079002756584851
              precision    recall  f1-score   support

        high       0.39      0.92      0.55     15072
         low       1.00      1.00      1.00    179977
      medium       0.99      0.79      0.88    104951

    accuracy                           0.92    300000
   macro avg       0.79      0.90      0.81    300000
weighted avg       0.96      0.92      0.93    300000

Confusion Matrix :
[[ 13829     45   1198]
 [    82 179893      2]
 [ 21724     39  83188]]

tp-13658,
fn-1242,fp-21450
tn-263650
tp+fp=

hist gradient boosting classier works best out of models selected. Better to chose higher recall than precision 

Question is what kind of error could be tolerate ? 

<li> Classifying an innocent customer as fraud (low precision)
<li> Missing to identifying as someone who made fraud (low recall)

<li>Recall is Fraud identified / Over total Fraud 
<li>Precision is “fraud caught over predictions I made for fraud”

From confusion matrix the model made lot of false positive (fp='fill value') as high risk customers which would be bad customer experience

However on other hand from test set the model was able to correctly predict (tp='fill value') high risk customers over 15k cases. So a high recall is achieved.

Some other notes

1. Balancing the dataset helped improved the score. 
2. HP tuning to imporve the results further ? 
3. Try feature engineering 
4. Try deep learning networks to improve this score.

## Stratified K Fold Split

 Was using to earlier to try to see if we are overfitting/underfitting. However samples provided are in good ratio. So we have enough data and CV may not be required.

In [ ]:
# sss = StratifiedKFold(n_splits=5)
# sss.get_n_splits(normalized_x_train,y_resampled)

5

In [ ]:
# #check if we have any sample repeated in another fold also
# for i, (train_index, test_index) in enumerate(sss.split(normalized_x_train, y_resampled)):
#   print(f"Fold {i}:")
#   print(f"  Train: index={train_index}")
#   print(f"  Test:  index={test_index}")
#   print("Number of intersected samples",len(np.intersect1d(train_index,test_index)))
#   ## check distribution of data in each fold
#   x_train_fold,x_test_fold=normalized_x_train.iloc[train_index],normalized_x_train.iloc[test_index]
#   y_train_fold,y_test_fold=y_resampled.iloc[train_index],y_resampled.iloc[test_index]
#   print(x_train_fold.shape,x_test_fold.shape)
#   print(y_train_fold.shape,y_test_fold.shape)
#   print(y_train_fold.value_counts())
#   lr=GradientBoostingClassifier(random_state=0).fit(x_train_fold, y_train_fold)
#   y_pred=lr.predict(x_test_fold)
#   reports(y_test_fold,y_pred)